
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/pooch-detector.iml
.idea/vcs.xml
.ipynb_checkpoints/dog_app-checkpoint.ipynb
/dogImages/
/lfw/
aws-deep-learning-key.pem
test.pth
